.Navbar {
  display: flex;
  flex-direction: row;
  border: 3px  darkslategray solid;
  justify-content: space-around;
  margin: 0 1.5em 1.5em 1em;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(35, 11, 78);
}

.NavbarTitle {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.NavbarItem {
  border: darkslategray 3px solid;
  border-radius: 30px;
  padding: 0.5rem;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: auto;
}

.NavbarItem:hover {
  border: white 3px solid;
  background-color: white;
}

.NavbarTitle:hover {
  text-decoration: underline; 
}

.Wrapper {
  background: rgb(69,16,113);
  background: radial-gradient(circle, rgba(69,16,113,1) 0%, rgba(69,16,113,1) 79%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
}

.ContentWrapper {
  border: 3px  darkslategray solid;
  background-color: rgb(35, 11, 78);
}

.Footer {
  display: flex;
  flex-direction: row;
  border: 5px  darkslategray solid;
  justify-content: space-evenly;
  margin: 1.5rem;
  margin-bottom: 0;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(35, 11, 78);
  color: white;
  font-size: larger;
}
